{{#each data}}

  <tr>
    <td>{{this.prodCategory}}</td>
    <td>{{this.product}}</td>
    <td>{{this.price}}</td>
    <td>{{this.timestamp}}</td>
    <td><button id="sold-btn" onclick="getId({{this.prodID}})">Sold</button></td>

  </tr>

{{/each}}