{{#each data}}

  <tr>
    <td>{{this.enrollmentNumber}}</td>
    <td>{{this.prodCategory}}</td>
    <td>{{this.product}}</td>
    <td>{{this.price}}</td>
    <td>{{this.timestamp}}</td>
    <td><button>Add to cart</button></td>

  </tr>

{{/each}}